<mat-toolbar>
    <span>Quiz</span>
    <button mat-button routerLink="/" routerLinkActive="router-link-active" >Quiz</button>
    <button mat-button routerLink="/question" routerLinkActive="router-link-active" >Question</button>
    <button mat-button routerLink="/questions" routerLinkActive="router-link-active" >Questions List</button>
    <button mat-button routerLink="/quiz" routerLinkActive="router-link-active" >Add Quiz</button>
    <button mat-button routerLink="/quizzes" routerLinkActive="router-link-active" >Quiz List</button>
</mat-toolbar>